nav, article, h1 {
  font-family: "Roboto",Helvetica,sans-serif;
}
.selected {
  background-color: #BBD8DC !important;
}
.types {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #607D8B;
}
.types li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: 1px 0;
  padding: .3em 0 0 .7em;
  height: 1.6em;
}
.types li:hover {
  background-color: #CFD8DC;
}
.type .text {
  position: relative;
  top: -3px;
}
.topnav {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  height: 65px;
  background-color: #CFD8DC;
  box-shadow: 0 0 10px grey;
}
.topnav img {
  visibility: hidden;
  display: inline-block;
  box-sizing: border-box;
  width: 65px;
  height: 65px;
  padding: 15px;
  position: absolute;
}
.topnav h1 {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  line-height: 65px;
  padding: 0;
  margin: 0 0 0 1em;
  pointer-events: none;
  white-space: nowrap;
  overflow: hidden;
}
.sidenav {
  width: 16em;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 4;
  position: fixed;
  top: 65px;
  left: 0;
  bottom: 0;
  box-shadow: 0 0 8px #888888;
  background: white;
}
.package {
  padding: .5em;
}
.group {
  cursor: pointer;
  padding: .5em .5em .5em 1em;
  font-weight: bold;
}
.group img {
  float: right;
}
article {
  margin-left: 16em;
  margin-top: 65px;
  margin-bottom: 4em;
  padding-top: 1em;
  padding-left: 1em;
}
.search {
  padding-left: 1em;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 0.7em;
}
.search input {
  border: 4px solid grey;
  border-radius: 4px;
  background: white url('../assets/search_grey_24px.svg') 10px 8px no-repeat;
  padding: 10px 20px 10px 40px;
  font-size: 16px;
  width: 144px;
}

@media all and (max-width: 1024px) {
  .hidemenu {
    visibility: hidden;
  }
  .topnav h1 {
    padding: 0 0 0 64px;
  }
  .topnav img {
    visibility: visible;
  }
  article {
    margin-left: 1em;
  }
}
