.doc-signature {
  display: inline-block;
  height: 1.3em;
  width: calc(100% - 50px); /* Avoids line wrap in summary. */
  overflow: hidden;
  vertical-align: middle;
}
.attribute-kind {
  color: #888;
}
.member-type {
  width: 12em;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}
.member-name {
  font-weight: bold;
}
.doc-preview {
  display: inline;
  float: right;
  width: 40%;
  line-height: 1.2em;
  height: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
}
summary {
  cursor: pointer;
  padding: .5em 0 .5em 0;
}
.member-details {
  padding-bottom: .5em;
}
.members {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.members li {
  background-color: #EEE;
  margin: .2em 0;
  padding: 0 .7em 0 .7em;
  border-radius: 4px;
}
.return {
  display: inline-block;
}
.sep {
  display: inline;
  margin-right: .3em;
}
.filter input {
  border: 4px solid grey;
  border-radius: 4px;
  background: white url('../assets/search_grey_24px.svg') 10px 8px no-repeat;
  padding: 10px 20px 10px 40px;
  font-size: 16px;
  width: 144px;
}
.filter button {
  border: 4px solid grey;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  background: lightgrey;
}


@media all and (max-width: 1024px) {
  .doc-preview {
    visibility: hidden;
  }
}
@media all and (max-width: 500px) {
  .member-type {
    visibility: hidden;
    width: 0;
  }
}
